@font-face {
  font-family: "NeueHaasUnica-Bold";
  src: url("/media/fonts/NeueHaasUnica-Bold.otf");
}
@font-face {
  font-family: "NeueHaasUnica-Black";
  src: url("/media/fonts/NeueHaasUnica-Black.otf");
}
@font-face {
  font-family: "NeueHaasUnica-Regular";
  src: url("/media/fonts/NeueHaasUnica-Regular.otf");
}
@font-face {
  font-family: "NeueHaasUnica-Regular2";
  src: url("/media/fonts/NeueHaasUnica-Regular2.otf");
}
@font-face {
  font-family: "NeueHaasUnica-MediumItalic";
  src: url("/media/fonts/NeueHaasUnica-MediumItalic.otf");
}
@font-face {
  font-family: "NeueHaasUnica-Medium";
  src: url("/media/fonts/NeueHaasUnica-Medium.otf");
}
@font-face {
  font-family: "NeueHaasUnica-Italic";
  src: url("/media/fonts/NeueHaasUnica-Italic.otf");
}
body {
  overflow-x: hidden;
  background-image: url("/media/background.png");
  background-repeat: repeat-y;
  /* background-size:100% 100%; */
  font-family: "NeueHaasUnica-Medium";
  color: white;
  width: 100%;
  min-width: 600px;
}
body main {
  height: 100vh;
}
body main header {
  padding-left: 2%;
}
body main header nav {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  body main header nav ul {
    display: none;
  }
  body main header nav .home,
  body main header nav .about,
  body main header nav .contact {
    width: 10%;
    color: white;
    padding: 1.5em;
  }
}
body main header nav a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}
body main header nav ul {
  list-style: none;
}
body main header nav li {
  display: inline;
  padding: 1.5em;
}
body main header .home,
body main header .about,
body main header .contact {
  color: white;
}
body main #headlines {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}
body main #headlines #mainHeader {
  background-image: url("/media/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 110px;
  display: block;
  font-family: "NeueHaasUnica-Bold";
  text-align: center;
  padding-top: 0.5%;
  font-size: 105%;
}
body main #headlines #mainHeader h2 {
  color: #235c7e;
  line-height: 0.8;
}
body main #headlines #mainHeader #headlineBold {
  font-family: "NeueHaasUnica-Black";
}
body main #headlines #secondary-headline {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-color: #235c7e;
  width: 90%;
  text-align: center;
  font-family: "NeueHaasUnica-Italic";
}
body main #headlines #secondary-headline #secondary {
  font-family: "NeueHaasUnica-Italic";
  font-size: 115%;
}
body main #mainContent {
  display: flex;
  margin: 5%;
  padding: 5%;
  justify-content: space-evenly;
}
body main #mainContent #hero {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  box-sizing: border-box;
}
body main #mainContent #hero #heroMedia {
  float: top;
  flex-grow: 4;
  display: block;
  height: 50%;
  width: 100%;
  background-image: url("/media/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: #efaf58 solid;
}
body main #mainContent #hero #list {
  float: top;
  height: 50%;
  width: 100%;
  background-color: #235c7e;
  border-radius: 5%;
}
body main #mainContent #hero #list ul {
  list-style: none;
}
body main #mainContent #hero #list li {
  margin-left: 0 0 0 0;
  line-height: 2.5;
  text-align: center;
  width: 100%;
  border-bottom: #092634 solid 0.1em;
}
body main #mainContent #form {
  max-width: 300px;
  margin-left: 15%;
  width: 40%;
  font-family: "NeueHaasUnica-Regular2";
  border: #efaf58 solid 0.2em;
  border-radius: 35px;
}
body main #mainContent #form button {
  max-width: 360px;
  border: none;
  border-radius: 35px;
  text-align: center;
  background-color: #efaf58;
  position: absolute;
  z-index: 1;
  margin-top: -4%;
  margin-left: -3%;
  width: 35%;
  height: 10%;
  font-size: 1.5em;
}
body main #mainContent #form ul {
  margin-top: 20%;
  list-style: none;
}
body main #mainContent #form li {
  margin-left: -5%;
  line-height: 2.5;
  text-align: center;
  width: 100%;
  border-bottom: #092634 solid 0.1em;
}
body main #mainContent #form li #creditCard {
  color: #efaf58;
  font-size: 0.9em;
  line-height: 1.5;
}
body main #mainContent #form input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
}
body main #mainContent #form ::placeholder {
  font-size: 1em;
  color: white;
  opacity: 1;
}
body main #features {
  border-top: #efaf58 solid 1em;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body main #features #feature {
  width: 30%;
}
body main #features #feature #top {
  padding: 5%;
  background-color: #235c7e;
  z-index: 3;
}
body main #features #feature #bottom {
  /* position:relative; */
  margin-top: -2.5%;
  z-index: -1;
  padding: 5%;
  background-color: #092634;
  border-radius: 15px;
}

/*# sourceMappingURL=main.css.map */
