@use 'variables' as v;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    overflow-x: hidden; 
    background-image: url("/media/background.png");
    background-repeat:repeat-y;
    font-family: 'NeueHaasUnica-Medium';
    color: v.$color-text;
    width: 100%;
    margin: 0;
    min-width: 300px;
    main{    
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.471));
        header{
            z-index: 5;
            width: 100%;
            position: fixed;
            padding-left: 2%;
            background-color: v.$color-secondary;
            padding-bottom: 10px;
            height: 4em;
            #brand{
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
           
            nav{
                @include flex;
                position: absolute;
                flex-wrap: nowrap;
                top: 0.2%;
                right: 2%;
                
                @media screen and (max-width: 900px) {
                    ul{
                        display: none;
                    }
                    .home,
                    .about,
                    .contact {
                        display: inline;
                        width: 10%;
                        color: v.$color-text;
                        padding: 1.5em;
                        transform: translatey(-15%);
                        right: 5px;
                    }
                }
                
                a{
                    font-size: 1.2em;
                    color: v.$color-text;
                    text-decoration: none;
                }
        
                ul{
                    list-style: none;
                }
                li{
                    transform: translatey(-15%);
                    display: inline;
                    padding: 1.5em;
                }
            }
            .home,
            .about,
            .contact {
                color: v.$color-text;
                display: none;
            }
        }
        #headlines{
            padding-top: 4.2em;
            width: 100%;
            display:block;
            align-items: center;
            justify-content: center;
            #mainHeader{
                background-image: url("/media/banner.png");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 110px;
                display: block;
                font-family: 'NeueHaasUnica-Bold';
                text-align: center;
                padding-top: 0.5%;
                font-size: 105%;
                h2{
                    color: v.$color-secondary;
                    line-height: 0.8;
                }
                #headlineBold{
                    font-family: 'NeueHaasUnica-Black';
                }
            }
            #secondary-headline{
                margin-left: 5%;
                margin-right: 5%;
                border-bottom: solid;
                border-color: v.$color-secondary;
                width: 90%;
                
                text-align: center;
                font-family: 'NeueHaasUnica-Italic';

                #secondary{
                    font-family: 'NeueHaasUnica-Italic';
                    font-size: 115%;
                }
            }
           
        }

        #mainContent{
            @include flex;
            justify-content: space-evenly;
            flex-direction: row;
            margin: 5%;
            padding: 5%;
            gap: 60px;
            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
            

            #hero{
                @media screen and (max-width: 800px) {
                    width: 85%;
                }
                @include flex;
                position: relative;
                width: 50%;
                height: 100%;
                flex-direction: column;
                box-sizing: border-box;
                padding: 0;
                               
                img{
                    width: 105%;
                    z-index: 4;
                    border-radius: 10%;
                }
                #list{
                    padding-top: 5%;
                    z-index: 1;
                    margin-top: -8%;
                    height: 50%;
                    width: 100%;
                    background-color: v.$color-secondary;
                    box-shadow: 10px 10px 15px rgb(23,4,34,0.7);
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    ul{
                        padding: 0;
                        list-style: none;
                    }
                    li{
                        font-size: 120%;
                        line-height: 2.5;
                        text-align: center;
                        width: 100%;
                        border-bottom: v.$color-main solid 0.1em;
                    }
                }
            }

            #form{
                @media screen and (max-width: 800px) {
                    width: 65%;
                }
                position: relative;
                max-width: 300px;
                max-height: 300px;
                width: 40%;
                font-family: 'NeueHaasUnica-Regular2';
                border: #efaf58 solid 0.2em;
                border-radius: 35px;
                button{
                    max-width: 360px;
                    border: none;
                    border-radius: 35px;
                    text-align: center;
                    background-color: v.$color-highlight;
                    z-index: 1;
                    margin-top: -4%;
                    transform: translatex(-5%);
                    width: 110%;
                    height: 60px;
                    font-size: 150%;
                }
                ul{
                    padding: 0;
                    list-style: none;
                }
                li{
                    line-height: 2.5;
                    text-align: center;
                    width: 100%;
                    border-bottom: v.$color-main solid 0.1em;
                    
                    #creditCard{
                        color: v.$color-highlight;
                        font-size: 90%;
                        line-height: 1.5;
                    }
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    color:  v.$color-text;
                    margin-bottom: 5%;
                }
                ::placeholder {
                    text-align: center;
                    font-size: 110%;
                    color: v.$color-text;
                    opacity: 1; 
                  }
            }
        }
        #features{
            border-top: v.$color-highlight solid 1em;
            background-color: v.$color-text;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            @media screen and (max-width: 800px) {
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
            
            #feature{
                @media screen and (max-width: 800px) {
                    width: 60%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                width: 30%;
                height: 80%;
                position: relative;
                margin-bottom: 5%;
                box-shadow: 10px 10px 15px rgb(23,4,34,0.7);

                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                p{
                    padding-left: 10%;
                }
                #top{
                    position: relative;
                    padding: 5%;
                    background-color: v.$color-secondary;
                    z-index: 3;
                    @media screen and (max-width: 800px) {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }
                #bottom{
                    position: relative;
                    margin-top: -2.5%;
                    z-index: 1;
                    padding: 5%;
                    background-color: v.$color-main;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
            #top::before{
                content: "";
                height: 25%;
                width: 5%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: v.$color-main;
            }
            #bottom::before{
                content: "";
                height: 25%;
                width: 5%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: v.$color-secondary;
            }
        }

        #information{
            padding-top: 4%;
            @include flex;
            flex-direction: column;
            gap: 40%;
            #projects{
                text-align: center;
                font-family:'NeueHaasUnica-Italic';
                font-size: 2em;
                img{
                    width: 60%;
                }
            }
            #slogan{
                margin-top: 10%;
                border: v.$color-highlight solid 0.1em;
                font-size: 1.8em;
                width: 76%;
                border-radius: 30px;
                padding-left: 5%;
                padding-right: 5%;
                text-align: center;
            }
            #logos{
                @include flex;
            }
        }
    }
}