$color-main: rgba(#092634, 1);
$color-secondary: rgba(#235c7e,1);
$color-highlight: rgba(#efaf58,1);
$color-text: rgba(#ffffff, 1);

@font-face {
    font-family: 'NeueHaasUnica-Bold';
    src: url("/media/fonts/NeueHaasUnica-Bold.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-Black';
    src: url("/media/fonts/NeueHaasUnica-Black.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-Regular';
    src: url("/media/fonts/NeueHaasUnica-Regular.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-Regular2';
    src: url("/media/fonts/NeueHaasUnica-Regular2.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-MediumItalic';
    src: url("/media/fonts/NeueHaasUnica-MediumItalic.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-Medium';
    src: url("/media/fonts/NeueHaasUnica-Medium.otf");
}
@font-face {
    font-family: 'NeueHaasUnica-Italic';
    src: url("/media/fonts/NeueHaasUnica-Italic.otf");
}


body{
    overflow-x: hidden; 
    background-image: url("/media/background.png");
    background-repeat:repeat-y;
    /* background-size:100% 100%; */
    font-family: 'NeueHaasUnica-Medium';
    color: $color-text;
    width: 100%;
    min-width: 600px;

    main{    
        height: 100vh;
        header{
            padding-left: 2%;
            nav{
                position: absolute;
                top: 2%;
                right: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 900px) {
                    ul{
                        display: none;
                    }
                    .home,
                    .about,
                    .contact {
                        width: 10%;
                        color: $color-text;
                        padding: 1.5em;
                    }
                }
                
                a{
                    font-size: 1.2em;
                    color: $color-text;
                    text-decoration: none;
                }
        
                ul{
                    list-style: none;
                }
                li{
                    display: inline;
                    padding: 1.5em;
                }
            }
            .home,
            .about,
            .contact {
                color: $color-text;
            }
        }
        #headlines{
            width: 100%;
            display:block;
            align-items: center;
            justify-content: center;
            #mainHeader{
                background-image: url("/media/banner.png");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 110px;
                display: block;
                font-family: 'NeueHaasUnica-Bold';
                text-align: center;
                padding-top: 0.5%;
                font-size: 105%;
                h2{
                    color: $color-secondary;
                    line-height: 0.8;
                }
                #headlineBold{
                    font-family: 'NeueHaasUnica-Black';
                }
            }
            #secondary-headline{
                margin-left: 5%;
                margin-right: 5%;
                border-bottom: solid;
                border-color: $color-secondary;
                width: 90%;
                
                text-align: center;
                font-family: 'NeueHaasUnica-Italic';

                #secondary{
                    font-family: 'NeueHaasUnica-Italic';
                    font-size: 115%;
                }
            }
           
        }

        #mainContent{
            display: flex;
            margin: 5%;
            padding: 5%;
            justify-content: space-evenly;
            #hero{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 0;
                box-sizing: border-box;
                #heroMedia{
                    float: top;
                    flex-grow: 4;
                    display: block;
                    height: 50%;
                    width: 100%;
                    background-image: url("/media/hero.png");
                    background-size:contain;
                    background-repeat: no-repeat;
                    border: #efaf58 solid;
                }
                #list{
                    float: top;
                    height: 50%;
                    width: 100%;
                    background-color: $color-secondary;
                    border-radius: 5%;
                    ul{
                        list-style: none;
                    }
                    li{
                        margin-left:0 0 0 0;
                        line-height: 2.5;
                        text-align: center;
                        width: 100%;
                        border-bottom: $color-main solid 0.1em;
                    }
                }
               
            }
            #form{
                max-width: 300px;
                margin-left: 15%;
                width: 40%;
                font-family: 'NeueHaasUnica-Regular2';
                border: #efaf58 solid 0.2em;
                border-radius: 35px;
                button{
                    max-width: 360px;
                    border: none;
                    border-radius: 35px;
                    text-align: center;
                    background-color: $color-highlight;
                    position: absolute;
                    z-index: 1;
                    margin-top: -4%;
                    margin-left: -3%;
                    width: 35%;
                    height: 10%;
                    font-size: 1.5em;
                }
                ul{
                    margin-top: 20%;
                    list-style: none;
                }
                li{
                    margin-left: -5%;
                    line-height: 2.5;
                    text-align: center;
                    width: 100%;
                    border-bottom: $color-main solid 0.1em;
                    #creditCard{
                        color: $color-highlight;
                        font-size: 0.9em;
                        line-height: 1.5;
                    }
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    color:  $color-text;
                }
                ::placeholder {
                    font-size: 1em;
                    color: $color-text;
                    opacity: 1; 

                  }
                
            }
        }
        #features{
            border-top: $color-highlight solid 1em;
            background-color: $color-text;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            #feature{
                width: 30%;
                #top{
                    padding: 5%;
                    background-color: $color-secondary;
                    z-index: 3;
                }
                #bottom{
                    /* position:relative; */
                    margin-top: -2.5%;
                    z-index: -1;
                    padding: 5%;
                    background-color: $color-main;
                    border-radius: 15px;
                }
            }
        }
    }

}