@use 'variables' as v;

header{
    z-index: 5;
    width: 100%;
    position: fixed;
    padding-left: 2%;
    background-color: v.$color-secondary;
    padding-bottom: 10px;
    height: 4em;
    #brand{
        @media screen and (max-width: 500px) {
            display: none;
        }
    }
   
    nav{
        @include flex;
        position: absolute;
        flex-wrap: nowrap;
        top: 0.2%;
        right: 2%;
        
        @media screen and (max-width: 900px) {
            ul{
                display: none;
            }
            .home,
            .about,
            .contact {
                display: inline;
                width: 10%;
                color: v.$color-text;
                padding: 1.5em;
                transform: translatey(-15%);
                right: 5px;
            }
        }
        
        a{
            font-size: 1.2em;
            color: v.$color-text;
            text-decoration: none;
        }

        ul{
            list-style: none;
        }
        li{
            transform: translatey(-15%);
            display: inline;
            padding: 1.5em;
        }
    }
    .home,
    .about,
    .contact {
        color: v.$color-text;
        display: none;
    }
}